.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.border{
    border: black 1px solid !important;
    padding: 5px;
    text-align: center;
}
.center{
    display: flex;
    flex-direction: column;
}